.card {
    width: 280px;
}

.card .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.card img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.card .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 250px;
    max-height: 250px;
}

.card .rodape h4 {
    color: #6278F7;
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 0 0;
}

.card .rodape h5 {
    font-size: 24px;
    color: #D121F1;
    margin: 24px 0 0 0 ;
}

.card .rodape h6 {
    font-size: 24px;
    color: #212121;
    margin: 24px 0 0 0 ;
}


