.botao{
    background-color: #ef3aff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #f2f2f2 ;
    margin: 32px 0;
    transition: .2s ease;
}

.botao:hover{
    background-color: #F0D52B;
    color: #6278f7;
    padding: 40px;
}